<table class="table table-bordered table-striped">
  <thead>
	<td>Book title</td>
	<td>quantity</td>
	<td>prices</td>
  </thead>
  <%= render :partial => "line_items/advanced_line_item", :collection => cart.line_items, :as => :line_item %>
  <tr class="total_line">
	<td colspan="2">Total</td>
	<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	<td></td>
  </tr>
</table>