<h1>Editing ccategory</h1>

<%= render 'form' %>

<%= link_to 'Show', @ccategory %> | 
<%= link_to 'Destroy', @ccategory, :confirm => 'Are you sure?', :method => :delete %> | 
<%= link_to 'Back', pcategories_path %>
