<div class="depot_form">
	<fieldset>
		<legend>Editing product</legend>
		<%= render 'form' %>
	</fieldset>
</div>


<br />

<%= link_to t('.show'), @product %> |
<%= link_to t('.back'), products_path %>
